body{

	font-family: 'lato', sans-serif;
	font-weight: bold;
	background-image: url("images/yosemite3.png");
	background-repeat: no-repeat;

}

header{
	text-align: center;
    margin-top: 160px;
}


.title{
	font-size: 90px;
	font-weight: 900;
}

.quiz{
	text-align: center;
}

#description{
	font-size: 35px;
}

.startButton{
	border-radius: 10px;
    font-size: 40px;
    width: 155px;
    margin-bottom: 35px;
    background-color:  #3B5998;
    color: white;
    font-family: "Maven Pro", sans-serif;

}


.submitAnswer{
	border-radius: 10px;
    font-size: 20px;
    width: 155px;
    /*display: none;*/
}

#question{
	font-size: 40px;
	padding-top: 15px;
	font-weight: 900;
}

.answers{
	font-size: 20px;
}

#questionContainer{
	font-size: 25px;
	background-color: white;
	opacity: 0.8;
	color: black;
	height: 450px;
	/*font-family: "Archivo Narrow", sans-serif;*/

}

#nextButton{
	font-size: 25px;
	border-radius: 10px;
	width: 120px;
	font-family: "Maven Pro", sans-serif;
	background-color:  #3B5998;
    color: white;
}



#resultButton, #newQuiz{
	font-size: 25px;
	border-radius: 10px;
	width: 226px;
	font-family: "Maven Pro", sans-serif;
	background-color:  #3B5998;
    color: white;
}

#results{
	font-size: 25px;
	background-color: white;
	color: black;
}

h3{
	padding-top: 15px;
}





